/** About me **/

.about_me_widget ul.social-icons {
	list-style: none;
	padding-left: 0.75rem;
}

.about_me_widget ul.social-icons li {
    border: none;
    display: inline-block;
    padding: 2px;
}

.about_me_widget ul.social-icons li a {
	font-size: 25px;
}

.about_me_widget .content p {
	margin-bottom: 2px
}

.about_me_widget {
	border-radius: 10px;
}

.about_me_widget img {
border-radius: 10px 10px 0 0;
}

.widget-title {
    margin-top: 5px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid #c9c9c9;
    padding-bottom: 10px;
    position: relative;
}

.widget ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.widget ul li {
	border: none;
}

.border-radius-5 {
	border-radius: 5px
}

.media-body {
    -ms-flex: 1;
    flex: 1;
    box-sizing: border-box;
}

.post-thumb-80 img {
    max-width: 90px;
    max-height: 80px;
}
.transition-normal{
	transition: all .25s cubic-bezier(.02,.01,.47,1);
}

.post-title a:hover{
	text-decoration: underline;
}

.zoom:hover{
	transition: all .5s;
	 -ms-transform: scale(1.25); /* IE 9 */
  -webkit-transform: scale(1.25); /* Safari 3-8 */
  transform: scale(1.25); 
}


/* connect with us widget */
.bz-widget-connected-style2.bz-widget-connected-columns-3 .bz-widget-connected-item {
    width: 33.3%;
}
.bz-widget-connected-style2 .bz-widget-connected-item {
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
    width: 25%;
    background-color: transparent;
}

.bz-widget-connected-style2 .bz-widget-connected-bubble {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 100px;
    text-align: center;
    position: relative;
    transition: .3s all ease-in-out;
}

.bz-widget-connected-style2 .bz-widget-connected-bubble i {
	font-size: 24px;
	line-height: 60px;
	color: #fff;
	position: relative;
	z-index: 49;
	text-shadow: 0px 3px 10px rgba(0,0,0,.2);
}

.bz-widget-connected-style2 .bz-widget-connected-bubble .bz-widget-connected-bubble-count {
    font-size: 11px;
    position: absolute;
    top: -5px;
    right: -8px;
    border-radius: 100px;
    padding: 1px 7px;
    box-shadow: 0 6px 15px rgba(0,0,0,.2);
    color: #fff;
    z-index: 50;
}
.bz-widget-connected-facebook {
    background-color: #448ae9;
}
.bz-widget-connected-twitter {
    background-color: #1ca1f2;
}
.bz-widget-connected-instagram {
	background-color: #e12c61;
    background: linear-gradient(158deg,#863fa6 22%,#e12c61 50%,#f46f46 80%);
}

.bz-widget-connected-style2 .bz-widget-connected-title {
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    padding-top: 12px;
    font-weight: 700;
}

.bz-widget-connected-facebook:not(.sh-widget-connected-bubble-count):hover {
    background-color: #3076d5;
}

.bz-widget-connected-twitter:not(.sh-widget-connected-bubble-count):hover {
    background-color: #1291de;
}

.bz-widget-connected-instagram:not(.sh-widget-connected-bubble-count):hover {
	background-color: #e12c61;
	background: linear-gradient(158deg,#9d48c3 22%,#983c57 50%,#b33c18 80%);
}

.widget_connectwith_us .content {
    padding: 25px 5px;
    border-radius: 10px;
    margin-top: 20px;
}

/* image-caption*/
#sidebar-left .widget-image-caption-box,
#sidebar-right .widget-image-caption-box {
	max-width:340px;
	margin:auto;
}
.widget-image-caption-box {
	position: relative;
}
.widget-image-caption {
    width: 90%;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 10px;
    background-color: rgba(0,0,0,0.40);
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
   color: #fff;
}
.widget-image-content-title {
    margin-bottom: 0;
}
.widget-image-caption span {
	display: block;
	margin: 6px 0 0;
	font-style: normal;
    font-size: 0.75rem;
	text-transform: uppercase;
	
}
.widget-image-caption .title { 
    font-size: 1.75rem;
    line-height: 1.2;
    font-style: italic;
    color: #fff;
	letter-spacing: 1px;
	}
.widget-image-caption .caption {
	font-size: 0.813rem;
	color: #f3f3f3;
}

.btn.border {
	margin: 16px auto;
	border:1px solid #f3f3f3;
	background-color: transparent;
	font-style: normal;
}
.btn.border:hover {
	background-color: transparent;
}
.widget-image-caption-box img {
    margin: auto;
}

.widget-image-caption a:hover{
    text-decoration: underline;
}

.widget-image-caption p.title {
    font-size: 20px;
}

.widget-image-caption a{
    padding-top: 5px;
    display: block;
    font-size: 18px;
}



/** widget override **/

#header-sidebar .widget-title {
	margin-top: inherit;
	text-transform: none;
	letter-spacing: initial;
	border: none;
	padding-bottom: initial;
}


/** comment list **/

.comment_list_wrap ul.list-post {
    list-style: none;
}

.comment_list_wrap .list-post .post-thumb img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

span.has-dot {
    position: relative;
    padding-left: 10px;
}

.comment_list_wrap span.has-dot::before {
    content: "";
    width: 3px;
    height: 3px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    display: block;
    left: -3px;
    border-radius: 50%;
}

.comment_list_wrap .comment_author_name {
    padding-right: 5px;
}

.comment_list_wrap .post-thumb {
    margin-right: 15px;
}

.comment_date {
    font-family: 'Open Sans';
    font-size: 13px;
    margin-bottom: 0px;
}

.widget_media_gallery .gallery {
    margin-top: 0;
}

.lSSlideOuter .lSPager.lSpg>li.active a, .lSSlideOuter .lSPager.lSpg>li:hover a {
    color: #a05252;
}

.lSSlideOuter .lSPager.lSpg>li.active a, .lSSlideOuter .lSPager.lSpg>li:hover a {
    background-color: #a05252;
}

.lSSlideOuter .lSPager.lSpg>li a {
    background-color: #868686;
    }

.widget-image-caption-box img {
    width: 100%;
}


.media-body .entry-meta {
    font-family: 'Open Sans';
}